.profile {
    display: flex;
    justify-content: center;
    padding: 70px 0 70px;
}

.profile__container {

}

.profile__heading {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 40px;
}

.form-profile {
    position: relative;
    display: grid;
}

.form-profile__submit-btn {
    border-radius: 3px;
    background: transparent;
    width: 410px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    border: none;
    margin-top: 201px;
}

.form-profile__submit-btn:hover {
    transition: 0.3s;
    opacity: 0.6;
}

.form-profile__submit-btn_disabled {
    opacity: 0.5;
    cursor: auto;
}

.form-profile__submit-btn_disabled:hover{
    transition: 0;
    opacity: 0.5;
}

.form-profile__heading {
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    color: #FFF;
    position: absolute;
    top: 4px;
}

.form-profile__heading:last-of-type {
    top: 55px;
}

.form-profile__input {
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0 0 16px;
    border: none;
    color: #FFF;
    font-size: 14px;
    width: 100%;
    text-align: end;
}

.form-profile__input:last-of-type {
    margin: 16px 0 0;
}

.form-profile__error {
    color: #EE3465;
    font-size: 10px;
    position: absolute;
    right: 154px;
}

.form-profile__error_name {
    top: 37px;
}

.form-profile__error_email {
    top: 69px;
}

.form-profile__link-wrapp {
    grid-row: 8/9;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.form-profile__text {
    color: #8B8B8B;
    font-size: 14px;
    margin: 0 6px 0 0;
}

.form-profile__link {
    text-decoration: none;
    color: #4285F4;
    font-size: 14px;
}

.form-profile__link:hover {
    transition: .3s;
    opacity: .6;
}

.form-profile__input_color {
    color: #EE3465;
}

.form-profile__input_border{
    border-bottom: 1px solid #4285F4;
}

/* .form-profile__input:focus {
    border-bottom: 1px solid #4285F4;
    transition: .6s;
} */

.profile__btn-inOut {
    border-radius: 3px;
    background: transparent;
    width: 410px;
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    border: none;
    margin-top: 16px;
}

.profile__btn-inOut:hover {
    transition: 0.3s;
    opacity: 0.6;
}

.border-line{
    border-bottom: 1px solid #424242;
}


@media (max-width: 1175px) {
    .profile {
        padding: 70px 0 40px;
    }
}

@media (max-width: 745px) {
    .profile__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile__btn-inOut {
        width: 260px;
        font-size: 12px;
        margin-top: 16px;
    }

    .form-profile__submit-btn {
        width: 260px;
        font-size: 12px;
        margin-top: 355px;
    }

    .profile__heading {
        margin: 0 0 80px;
    }
}