@import url(./vendor/normalize/normalize.css);
@import url(./vendor/fonts/Inter_Web/inter.css);

body {
  margin: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
